# Capella
CAPELLA_CONN_STRING=
CAPELLA_ACCESS=
CAPELLA_ACCESS_PASS=
CAPELLA_BUCKET=
CAPELLA_CERT=
CLUSTER_NAME=

# Server
SERVER_USERNAME=
SERVER_PASS=
SERVER_NAME=
SERVER_ROOT_CERT=
CONN_STRING=
SERVER_BUCKET=
